<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Plant Disease Detection</title>
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#"class="active">About</a></li>
            <li><a href="/predict">Predict</a></li>
            <li><a href="/result">Result</a></li>
        </ul>
    </nav>
    <header>
        <h1 class="red">Tomato Plant Disease Detection</h1>
    </header>
    <br></br>
   <div class="container">
        <h2>About the model:</h2>
        <p>This model is developed for detecting the diseases which can occur on tomato plants using the tomato leaf images.</p>

        <h2>Technology Used:</h2>
        <p>Convolutional Neural Networks</p>

        <h2>Accuracy:</h2>
        <p>97% correct predictions</p>

        <h2>Dataset Source:</h2>
        <p>Kaggle</p>

        <h2>Programming Language:</h2>
        <p>Python</p>

        <h2>Model:</h2>
        <p>ResNet152V2</p>
    </div>

</body>
</html>
