<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato plant Disease Prediction</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="#"class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/predict">Predict</a></li>
            <li><a href="/result">Result</a></li>
        </ul>
    </nav>
    <main class="container">
        <header>
            <h1>Welcome to</h1>
            <h2 class="white">Tomato plant Disease Detection</h2>
        </header>
        
        <section>
            <p>This AI model will help you detect any disease or abnormality present in the tomato plant by analyzing an image of the tomato plant leaf.</p>
            <a href="/predict"><button class="predict-btn">PREDICT</button></a>
        </section>
        
        <section>
            <h3>Sample Images</h3>
            <p>Here are some sample images of tomato leaves for which the model will detect whether the leaf is healthy or will provide the name of the probable disease.</p>
            <div class="images-container">
                <img src="../static/img/gallery/gallery-1.JPG" alt="Tomato Leaf 1">
                <img src="../static/img/gallery/gallery-2.JPG" alt="Tomato Leaf 2">
                <img src="../static/img/gallery/gallery-3.JPG" alt="Tomato Leaf 3">
                <img src="../static/img/gallery/gallery-4.JPG" alt="Tomato Leaf 4">
            </div>
        </section>
    </main>
</body>
</html>